<h2 class="title-1 m-b-25">Product Types</h2>
<button class="au-btn au-btn-icon au-btn--green au-btn--small mb-2" type="button" (click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
  <i class="zmdi zmdi-plus"></i>add item</button>
<div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
  <div class="well well-lg card card-block card-header">
    <app-type-editor [types]="types"></app-type-editor>
  </div>
</div>
<div class="table-responsive table--no-card m-b-30">
  <table class="table table-borderless table-striped table-earning">
    <thead>
      <tr>
        <th>type name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let type of types">
        <td>{{type.typeName}}</td>
        <td>
          <div class="table-data-feature">
            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit"
            (click)="openModalWithDetailComponent(type)">
              <i class="zmdi zmdi-edit"></i>
            </button>
            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete"
              (click)="openModalWithDeleteComponent(type)">
              <i class="zmdi zmdi-delete"></i>
            </button>
            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
              <i class="zmdi zmdi-more"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>